@import "tailwindcss";

:root {
  --background: #202020;
  --primary: #1590dd;
  --ternary: #2d2d2d;
  --foreground: #ffffff;
  --sample: rgba(164, 0, 241, 0.931);
}

body {
  margin: 5px;
  padding: 5px;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-exodus);
  overflow: scroll;
}

.app_header {
  background-color: var(--ternary);
  color: var(--foreground);
  box-shadow: 0 0 10px rgb(60, 60, 60);
}

.app_register {
  background-color: var(--sample);
}

.app_textarea {
  background-color: var(--ternary);
  color: var(--foreground);
  font-family: "Times New Roman", Times, serif;
}
.gen_imp_list {
  background-color: var(--ternary);
}
